* {
  margin: 0px;
  padding: 0px;
  font-family: "sans-serif";
}
.container {
  background-color: #efeeec;
}
.container-header {
  background-color: white;
}
/* cambiar la fuente y ya*/
.logo-imagen-i {
  /* width: 1366px;*/
  height: 20%;
  /* background: transparent url("img/Grupo 6586.png") 0% 0% no-repeat padding-box;
 */
  opacity: 1;
  position: relative;
  left: 0;
  margin: 10px;
  background-color: white;
}
.image-dic {
  margin: 0;
  width: 100%;
}
.fecha-dic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.fecha-dic img {
  width: auto;
  height: 66px;
  margin: 40px 0 10px;
}
.parrafo-uno {
  margin: 0 0 40px;
}
.tu-tienda-virtual img {
  width: 160px;
  height: auto;
  margin: 100px 0 25px;
}
.tu-tienda-virtual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.parrafo-cuatro {
  margin: 0 0 10px;
}
.icon-azul-linea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.icon-azul-linea img {
  width: 1000px;
  margin: 15px 100px 20px 100px;
}
.caja-parrafo-uno {
  display: flex;
  width: 1200px;
  margin: 0 0 30px;
}
.parrafo-quinto {
  margin: 0 200px 0 180px;
  width: 400px;
}
.parrafo-sexto {
  margin: 0 0px 0 -70px;
  width: 420px;
}
.boton-tienda-virtual {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-tienda-virtual button {
  background-color: #1f96ab;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  display: flex;
}
.icon-carrito {
  width: auto;
  height: 20px;
  margin-right: 8px;
}

@media (max-width: 1200px) {
  .icon-azul-linea img {
    width: 500px;
    margin: 15px 100px 20px 100px;
  }
}
