@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/ProximaNova.eot?") format("eot"),
    url("./../fonts/ProximaNova.woff") format("woff"),
    url("./../fonts/ProximaNova.ttf") format("truetype"),
    url("./../fonts/ProximaNova.svg#ProximaNova") format("svg");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "ProximaNova", "Roboto", sans-serif;
}
body {
  /*max-width: 805px;*/
}
.bg-grey {
  background-color: #efeeec;
}
.container-header {
  background-color: white;
}
/* cambiar la fuente y ya*/
.logo-imagen-i {
  /* width: 1366px;*/
  height: 20%;
  /* background: transparent url("img/Grupo 6586.png") 0% 0% no-repeat padding-box;
 */
  opacity: 1;
  position: relative;
  left: 0;
  margin: 10px;
  background-color: white;
}
.image-dic {
  margin: 0;
  margin-bottom: -5px;
  width: 100%;
}
.fecha-dic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.fecha-dic img {
  width: auto;
  height: 66px;
  margin: 40px 0 10px;
}
.parrafo-uno {
  margin: 10px 50px;
  color: #707070;
  font-size: 20px;
  text-align: center;
}
.parrafo-uno strong {
  color: #3d3d3d;
}

.parrafo-dos {
  margin: 30px 10px 0px 10px;
  color: #1a0d94;
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}
.parrafo-tres {
  margin: 0px 10px 0px 10px;
  color: #1a0d94;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.parrafo-cuatro {
  margin: 0px 10px 0px 10px;
  color: #1a0d94;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.tu-tienda-virtual img {
  width: 160px;
  height: auto;
  margin: 10px 0 25px;
}
.tu-tienda-virtual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -50px;
  flex-direction: column;
}

.icon-azul-linea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  flex-direction: column;
}
.icon-azul-linea img {
  width: 805px;
  height: auto;
  object-fit: cover;
}

.ilustracion-eva-up {
  display: none;
}
.caja-parrafo-uno {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.parrafo-quinto {
  font-weight: 500;
  width: 400px;
  color: #707070;
  padding-right: 34px;
  padding-left: 33px;
}
.parrafo-quinto strong {
  color: #3d3d3d;
}
.parrafo-quinto a {
  color: #1f96ab;
  font-weight: 600;
}

.parrafo-sexto {
  font-weight: 500;
  width: 400px;
  color: #707070;
}
.parrafo-sexto strong {
  color: #3d3d3d;
}
.parrafo-sexto a {
  color: #1f96ab;
  font-weight: 600;
}

.parrafo-septimo {
  margin: 20px 0px;
  font-weight: 500;
  color: #707070;
}
.parrafo-septimo a {
  color: #3d3d3d;
  font-weight: 600;
  text-decoration: none;
}
.parramo-octavo {
  font-weight: 500;
  color: #707070;
}
.p-eva {
  font-weight: 500;
  color: #707070;
}
.p-eva strong {
  color: #3d3d3d;
}

.que-no {
  color: #3b3b3b;
  font-weight: 600;
}
.boton-tienda-virtual {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.boton-tienda-virtual button {
  background-color: #1f96ab;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 40px;
  display: flex;
}

.boton-pagar-factura {
  background-color: #1f96ab;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 90px;
  display: flex;
}
.icon-carrito {
  width: auto;
  height: 20px;
  margin-right: 8px;
}
.icon-power {
  width: auto;
  height: 20px;
  margin-right: 8px;
}
.separador {
  width: 100% !important;
  height: 10px !important;
}
.container-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container-information div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  align-items: center;
}

.container-information div div {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}
.container-information div div img {
  padding: 0px 16px 0px 10px;
}
.ilustracion-eva {
  width: 380px !important;
  margin-top: 70px !important;
  height: auto !important;
  object-fit: cover !important;
  padding: 10px !important;
}
.container-queHacer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: -45px;
}
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  text-align: center;
  width: 200px;
  height: 300px;

  margin: 0px 45px;
  justify-content: center;
}

.card img {
  width: 120px;
  height: auto;
}
.barra-azul {
  background: #1f96ab;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  padding: 20px;
}
.barra-azul p {
  padding: 10px;
}
.barra-azul a {
  color: white;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer p {
  font-weight: 500;
  color: #707070;
}
.ilustracion-eva-up {
  display: none;
}
.progress {
  display: none;
}
.image-dic-mobile {
  display: none;
}
.content-position {
  margin-bottom: -88px;
  position: relative;
  z-index: 9999;
}
.haz-pedido-mobile,
.aun-no-haz-mobile {
  display: none;
}

.container-llamanos {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ciudad {
  display: flex;
  justify-content: space-evenly;
}
.ciudad div {
  width: 50%;
  margin: 1em;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #495057;
  background: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 10px;
  font-family: ProximaNova;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
}

.container-llamanos .fa-circle-chevron-down {
  position: absolute;
  bottom: 3.5em;
  margin: auto;
  right: 53%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #1f96ab;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.contact_number {
  text-align: center;
  font-weight: 800;
  color: #1f96ab;
}

@media (max-width: 800px) {
  .content-position {
    margin-bottom: 0px;
  }
  .tu-tienda-virtual {
    margin-top: 30px;
  }

  .icon-azul-linea {
    display: none;
  }
  .caja-parrafo-uno {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
  }
  .parrafo-quinto {
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
  }
  .parrafo-sexto {
    width: 100%;
    margin: 10px 0px;
  }
  .container-information {
    flex-direction: column;
    width: 100%;
  }
  .container-information div div {
    width: 100%;
  }
  .ilustracion-eva {
    display: none;
  }
  .ilustracion-eva-up {
    width: auto;
    height: 250px !important;
    display: block;
  }
  .container-cards {
    flex-direction: column;
  }
  .card {
    height: auto;
  }
  .boton-pagar-factura {
    padding: 15px 60px;
  }
  footer {
    flex-direction: column;
  }
  footer img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .icon-azul-linea {
    display: none;
  }
  .progress {
    display: block;
    height: 160px;
  }
  .separador {
    width: 400px;
    height: auto;
  }
  .bar-progress {
    display: flex;
  }
  .container-queHacer {
    margin-bottom: 1px;
  }
  .haz-pedido-mobile,
  .aun-no-haz-mobile {
    display: block;
  }

  .aun-no-haz-desktop,
  .haz-pedido-desktop {
    display: none;
  }

  .ciudad {
    flex-direction: column;
    padding: 1em;
  }

  .ciudad div {
    width: 100%;
    margin: 0px;
  }
  .container-llamanos .fa-circle-chevron-down {
    bottom: 28%;
    right: 7%;
  }
}

@media (max-width: 600px) {
  .progress {
    display: block;
    height: 250px;
    margin: 0px 10px;
  }

  .container-information div {
    width: 100%;
  }
  .separador {
    width: 200px;
    height: auto;
  }
  .image-dic {
    display: none;
  }
  .image-dic-mobile {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .container-queHacer {
    margin-bottom: 1px;
  }
  .container-llamanos .fa-circle-chevron-down {
    bottom: 33%;
    right: 7%;
  }
  .contact_number {
    margin-bottom: 1em;
  }
}

@media (max-width: 330px) {
  .container-llamanos .fa-circle-chevron-down {
    bottom: 33%;
    right: 7%;
  }
}
