@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: normal;
  src: url("./../fonts/ProximaNova.eot?") format("eot"),
    url("./../fonts/ProximaNova.woff") format("woff"),
    url("./../fonts/ProximaNova.ttf") format("truetype"),
    url("./../fonts/ProximaNova.svg#ProximaNova") format("svg"),
    url("./../fonts/ProximaNovaBold.eot?") format("eot"),
    url("./../fonts/ProximaNovaBold.woff") format("woff"),
    url("./../fonts/ProximaNovaBold.ttf") format("truetype"),
    url("./../fonts/ProximaNovaBold.svg#ProximaNovaBold") format("svg");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "ProximaNova", sans-serif;
}
body {
  /*max-width: 805px;*/
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 238, 236, 1) 100%
  );
}
hr {
  color: #e3e3e3c3;
  background-color: #e3e3e3c3;
  border: 1px solid #e3e3e3c3;
}
.bg-grey {
  background-color: #efeeec;
}
.container-header {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background-color: white;
}
/* cambiar la fuente y ya*/
.logo-imagen-i {
  /* width: 1366px;*/
  height: 20%;
  /* background: transparent url("img/Grupo 6586.png") 0% 0% no-repeat padding-box;
 */
  opacity: 1;
  position: relative;
  left: 0;
  margin: 10px 0px 10px 25px;
  background-color: white;
}
.image-dic {
  margin: 0;
  margin-top: 57px;
  margin-bottom: -5px;
  width: 100%;
}
.fecha-dic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.fecha-dic img {
  width: auto;
  height: 66px;
  margin: 40px 0 10px;
}
.parrafo-uno {
  margin: 10px;
  color: #707070;
  font-size: 18px;
  text-align: center;
}
.parrafo-uno strong {
  color: #3d3d3d;
}

.parrafo-dos {
  margin: 30px 10px 0px 10px;
  color: #1a0d94;
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}
.parrafo-tres {
  margin: 0px 10px 0px 10px;
  color: #1a0d94;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.parrafo-cuatro {
  margin: 0px 10px 0px 10px;
  color: #1a0d94;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

.tu-tienda-virtual img {
  width: 160px;
  height: auto;
  margin: 10px 0 25px;
}
.tu-tienda-virtual {
  position: relative;
  top: -55px;
  margin-bottom: -85px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -50px;
  flex-direction: column;
}

.icon-azul-linea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  flex-direction: column;
}
.icon-azul-linea img {
  width: 805px;
  height: auto;
  object-fit: cover;
}

.ilustracion-eva-up {
  display: none;
}
.caja-parrafo-uno {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.parrafo-quinto {
  font-weight: 500;
  width: 400px;
  color: #707070;
  padding-right: 34px;
  padding-left: 33px;
}
.parrafo-quinto strong {
  color: #3d3d3d;
}
.parrafo-quinto a {
  color: #1f96ab;
  font-weight: 600;
}

.parrafo-sexto {
  font-weight: 500;
  width: 400px;
  color: #707070;
}
.parrafo-sexto strong {
  color: #3d3d3d;
}
.parrafo-sexto a {
  color: #1f96ab;
  font-weight: 600;
}

.parrafo-septimo {
  margin: 20px 0px;
  font-weight: 500;
  color: #707070;
}
.parrafo-septimo a {
  color: #3d3d3d;
  font-weight: 600;
  text-decoration: none;
}
.parramo-octavo {
  text-align: center;
  font-weight: 500;
  color: #707070;
}
.p-eva {
  font-weight: 500;
  color: #707070;
}
.p-eva strong {
  color: #3d3d3d;
}

.que-no {
  color: #3b3b3b;
  font-weight: 600;
}
.boton-tienda-virtual {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.boton-tienda-virtual button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f96ab;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 60px;
}

.boton-pagar-factura {
  background-color: #1f96ab;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 18px 90px;
  display: flex;
  font-size: 19px;
}
.icon-carrito {
  width: auto;
  height: 20px;
  margin-right: 8px;
}
.icon-power {
  width: auto;
  height: 20px;
  margin-right: 8px;
}
.separador {
  width: 100% !important;
  height: 10px !important;
}
.container-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container-information div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 415px;
  align-items: flex-start;
  margin-bottom: 15px;
}

.container-information div div {
  display: flex;
  flex-direction: row;
  padding: 2px 0px;
}
.container-information div div img {
  padding: 0px 16px 0px 10px;
}
.ilustracion-eva {
  width: 440px !important;
  margin-left: 82px !important;
  height: 440px !important;
  /* object-fit: cover !important; */
  margin-top: -7px !important;
}
.container-queHacer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: -90px;
}
.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  text-align: center;
  width: 225px;
  height: 300px;

  margin: 0px 40px;
  justify-content: center;
}

.card img {
  width: 120px;
  height: auto;
}
.barra-azul {
  background: #1f96ab;
  display: flex;
  justify-content: start;
  padding-left: 15rem !important;
  align-items: center;
  color: white;
  font-weight: 500;
  padding: 20px;
}
.barra-azul p {
  padding: 10px;
}
.barra-azul a {
  color: white;
  font-weight: 600;
}

footer {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(239, 238, 236, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

footer p {
  font-weight: 500;
  font-size: 14px;
  color: #707070;
  margin: 18px 0px;
}
footer a img {
  padding: 20px 2rem;
  width: auto;
  height: 40px;
}
.ilustracion-eva-up {
  display: none;
}
.progress {
  display: none;
}
.image-dic-mobile {
  display: none;
}
.content-position {
  margin-bottom: -88px;
  position: relative;
  z-index: 9999;
}
.haz-pedido-mobile,
.aun-no-haz-mobile {
  display: none !important;
}

.container-llamanos {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.ciudad {
  display: flex;
  justify-content: center;
}
.ciudad div {
  margin: 1em;
}
.ciudad div:first-child {
  margin: 20px 100px 0px 0px;
}

.form-control {
  margin-top: 10px;
  display: block;
  width: 18rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: #495057;
  background: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 10px;
  font-family: ProximaNova;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
}

.container-llamanos .fa-circle-chevron-down {
  position: absolute;
  margin-top: -2.9rem;
  margin-left: 16rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #1f96ab;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  font-size: 1.2rem;
}

.contact_number {
  text-align: center;
  font-weight: 800;
  color: #1f96ab;
}
.tituloAcheUno {
  font-size: 33px;
}
.tituloSpan {
  font-size: 36px;
}
.tituloAcheUnoEspecial {
  font-size: 22px;
}
.icon-manos {
  width: 75px;
  padding: 15px;
}

.icon-eva {
  margin-top: 0px !important;
}
.icon-tiempo-entrega {
  margin-top: 0px !important;
}
.icon-realizar-pagos {
  margin-top: 0px !important;
}

@media (max-width: 800px) {
  .barra-azul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0rem !important;
  }
  .content-position {
    margin-bottom: 0px;
  }
  .tu-tienda-virtual {
    margin-top: 30px;
  }

  .icon-azul-linea {
    display: none;
  }
  .parrafo-uno {
    font-size: 18px;
  }
  .caja-parrafo-uno {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
  }
  .parrafo-quinto {
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
  }
  .parrafo-sexto {
    width: 100%;
    margin: 10px 0px;
  }
  .container-information {
    flex-direction: column;
    width: 100%;
  }

  .container-information div div {
    width: 100%;
  }
  .ilustracion-eva {
    display: none;
  }
  .ilustracion-eva-up {
    width: auto;
    height: 240px !important;
    display: block;
  }
  .container-cards {
    flex-direction: column;
  }
  .card {
    height: auto;
  }
  .boton-pagar-factura {
    padding: 15px 100px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: wrap-reverse;
  }

  footer p {
    text-align: center;
  }
  footer a img {
    width: 100%;
    height: auto;
    padding: 20px 0px;
  }
  .icon-azul-linea {
    display: none;
  }
  .progress {
    display: block;
    margin: 18px -9px 0px 14px;
  }
  .separador {
    width: 400px;
    height: auto;
  }
  .bar-progress {
    display: flex;
  }
  .container-queHacer {
    margin-bottom: 1px;
  }
  .haz-pedido-mobile,
  .aun-no-haz-mobile {
    display: block !important;
  }

  .aun-no-haz-desktop,
  .haz-pedido-desktop {
    display: none;
  }

  .ciudad {
    flex-direction: column;
    padding: 1em;
  }

  .ciudad div {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0rem;
  }
  .container-llamanos .fa-circle-chevron-down {
    margin-top: -2.9rem;
    margin-left: 32rem;
  }

  .tituloAcheUnoEspecial {
    font-size: 18px;
  }
  .tituloSpan {
    font-size: 30px;
  }
  .tituloSpanAcheUno {
    font-size: 33px;
  }
  .form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34rem;
  }

  .ciudad div:first-child {
    margin: 0px 0px 0px 0rem;
  }
  .progressHrDos {
    height: 15px;
  }
}

@media (max-width: 600px) {
  .progressHrDos {
    height: 55px;
  }
  .form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27rem;
  }

  .ciudad div:first-child {
    margin: 0px 0px 0px 0rem;
  }
  .ciudad div {
    margin: 0px 0px 0px 0rem;
  }

  .barra-azul {
    padding-left: 20px !important;
    justify-content: center;
  }
  .progress {
    display: block;
    margin-top: 0px;
  }

  .progressDos {
    margin-top: 41px;
  }
  .container-information div {
    width: 100%;
  }
  .separador {
    width: 200px;
    height: auto;
  }
  .image-dic {
    display: none;
  }
  .image-dic-mobile {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-top: 58px;
  }
  .container-queHacer {
    margin-bottom: 1px;
  }

  .contact_number {
    margin-bottom: 1em;
  }

  .container-llamanos .fa-circle-chevron-down {
    margin-top: -2.9rem;
    margin-left: 25rem;
  }
}

@media (max-width: 490px) {
  .container-llamanos .fa-circle-chevron-down {
    margin-top: -2.9rem;
    margin-left: 20rem;
  }

  .form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22rem;
  }

  .ciudad div:first-child {
    margin: 0px 0px 0px 0rem;
  }
  .ciudad div {
    margin: 0px 0px 0px 0rem;
  }
  .icon-manos {
    width: 75px;
    padding: 15px;
    position: relative;
    top: -22px;
  }
}

@media (max-width: 390px) {
  .form-control {
    width: 100%;
  }

  .container-llamanos .fa-circle-chevron-down {
    margin-top: -2.9rem;
    margin-left: 75%;
  }
}

@media (max-width: 1700px) {
  .barra-azul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0rem !important;
  }
}
